<div class="card text-center">
  <div class="card-header">
    <b>Health Information</b>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <div class="row">
      <div class="col-6 justify-content-start mb-3">
        <form class="" [formGroup]="formGroup">
          <div formGroupName="tobaccoUsage">
          <div class="row mb-3">
            <div class="col-6 justify-content-start">
              <mat-label><b>Have you used any tobacco, nicotine, marijuana, vape, e-cigarette or tobacco substitute in the last 5 years?</b></mat-label>
            </div>
            <div class="col-6 justify-content-start">
              <mat-radio-group aria-label="Select an option" formControlName="tobaccoIndicator">
                <mat-radio-button [value]="true" style="padding-right:4px;">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
            <div class="row mb-3" *ngIf="formGroup.controls['tobaccoUsage'].controls['tobaccoIndicator'].value">
              <div class="col-6 justify-content-start">
                <mat-label>Indicate Usage</mat-label>
              </div>
              <div class="col-6 justify-content-start">
                <mat-form-field>
                  <mat-label>Usage</mat-label>
                  <mat-select formControlName="usageDuration" name="usageDuration">
                    <mat-option *ngFor="let tOption of tobaccoUsageOptions" [value]="tOption.value">
                      {{tOption.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row col-12 justify-content-start mb-3">
            <mat-label><b>In the Past 5 years, which of the following have you seen a Doctor for?</b></mat-label>
          </div>
          <div class="row justify-content-start mb-3">
            <mat-chip-list>
              <mat-chip (click)="selectCondition('alcoholabuse')" [ngClass]="getActiveClass('alcoholabuse')">Alcohol Abuse</mat-chip>
              <mat-chip (click)="selectCondition('anxiety')" [ngClass]="getActiveClass('anxiety')">Anxiety, ADD or ADHD</mat-chip>
              <mat-chip (click)="selectCondition('bp')" [ngClass]="getActiveClass('bp')">Blood Pressure (Hypertension)</mat-chip>
              <mat-chip (click)="selectCondition('ch')" [ngClass]="getActiveClass('ch')">Cholesterol</mat-chip>
              <mat-chip (click)="selectCondition('drugabuse')" [ngClass]="getActiveClass('drugabuse')">Drug Abuse</mat-chip>
              <mat-chip (click)="selectCondition('ulcer')" [ngClass]="getActiveClass('ulcer')">Gastric Ulcers</mat-chip>
              <mat-chip (click)="selectCondition('kidney')" [ngClass]="getActiveClass('kidney')">Kidney Stone</mat-chip>
            </mat-chip-list>
          </div>
          <div class="row justify-content-start mb-3">
          </div>
          <div *ngIf="isConditionSelected('bp')">
            <mat-label class="row col-12 justify-content-start"><br/><b>Blood Pressure Readings</b></mat-label>
            <div class="row justify-content-center mb-3">
              <div class="col-6">
                <mat-form-field class="example-full-width col-12">
                  <mat-label>Systolic pressure</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width col-12">
                  <mat-label>Diastolic pressure</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div formGroupName="cholestoralReadings" *ngIf="isConditionSelected('ch')">
            <mat-label class="row col-12 justify-content-start"><br/><b>Cholesterol Questions</b></mat-label>
            <div class="row">
              <div class="row justify-content-center mb-3">
                <div class="col-6">
                  <mat-form-field class="example-full-width col-12">
                    <mat-label>Total Cholesterol</mat-label>
                    <input matInput formControlName="hdl">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-full-width col-12">
                    <mat-label>HDL</mat-label>
                    <input matInput formControlName="ldl">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-12">
                <mat-label>List history of vascular or heart disease if any</mat-label>
                <input matInput >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-12">
                <mat-label>What was your age when diagnosed with this condition?</mat-label>
                <input matInput >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-12">
                <mat-label>Date of first diagnosis</mat-label>
                <input matInput placeholder="MM/DD/YYYY">
              </mat-form-field>
            </div>
            <mat-label class="row col-12 justify-content-start mb-3"><br/><h2>Ever had any of the following occurrences or symptoms?</h2></mat-label>
            <div class="row col-12">
              <mat-checkbox>Chest Pain</mat-checkbox>
            </div>
            <div class="row col-12">
              <mat-checkbox>Heart Failure</mat-checkbox>
            </div>
            <div class="row col-12">
              <mat-checkbox>Atrial Fibrillation/Flutter</mat-checkbox>
            </div>
            <div class="row col-12">
              <mat-checkbox>Enlarged Heart</mat-checkbox>
            </div>
            <div class="row col-12">
              <mat-checkbox>Trouble Breathing</mat-checkbox>
            </div>

          </div>
          <div class="row col-12 justify-content-start mb-3">
            <mat-label><b>Have you ever been treated for these Medical Conditions?</b></mat-label>
          </div>
          <div class="row justify-content-start mb-3">
            <mat-chip-list>
              <mat-chip (click)="selectCondition('Alzheimer')" [ngClass]="getActiveClass('Alzheimer')">Alzheimer's</mat-chip>
              <mat-chip (click)="selectCondition('Cancer')" [ngClass]="getActiveClass('Cancer')">Cancer</mat-chip>
              <mat-chip (click)="selectCondition('crohn')" [ngClass]="getActiveClass('crohn')">Crohn's Disease</mat-chip>
              <mat-chip (click)="selectCondition('Epilepsy')" [ngClass]="getActiveClass('Epilepsy')">Epilepsy</mat-chip>
              <mat-chip (click)="selectCondition('fibromyalgia')" [ngClass]="getActiveClass('fibromyalgia')">Fibromyalgia</mat-chip>
              <mat-chip (click)="selectCondition('Sleepapnea')" [ngClass]="getActiveClass('Sleepapnea')">Sleep Apnea</mat-chip>
              <mat-chip (click)="selectCondition('Stroke')" [ngClass]="getActiveClass('Stroke')">Stroke</mat-chip>
              <mat-chip (click)="selectCondition('Hepatitis')" [ngClass]="getActiveClass('Hepatitis')">Hepatitis or Liver Disease</mat-chip>
              <mat-chip (click)="selectCondition('Parkinson')" [ngClass]="getActiveClass('Parkinson')">Parkinson's Disease</mat-chip>
            </mat-chip-list>
          </div>

        </form>
      </div>
      <div class="col-6 justify-content-center mb-3">
        <div class="card text-center">
          <div class="card-header">
            Tell us about Yourself
          </div>
          <div class="card-body">
            <p class="card-text">Applicant's Health information is used
              solely for the purpose of evaluating an application. We do not share information with third parties.</p>
          </div>
        </div>
      </div>
    </div>
    <button mat-button (click)="goToPreviousPage()" class="btn btn-primary mr-2">Back</button>

    <button mat-button (click)="goToNextPage()" class="btn btn-primary">Next</button>
  </div>
  <div class="card-footer text-muted">
    © Physicians Mutual®, 2002-2020. All Rights Reserved. Physicians Mutual Insurance Company • Physicians Life Insurance Company
    2600 Dodge Street, Omaha, Nebraska 68131 </div>
</div>
