<div class="card text-center">
  <div class="card-header">
    <b>Financial Info</b>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <div class="row">
      <div class="col-8 justify-content-center">
        <form class="" [formGroup]="formGroup">
          <div class="row col-12 justify-content-start">
            <div>
              <mat-label class="mr-3"><b>Annual Income</b></mat-label>
              <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="annualIncome">
              </mat-form-field>
            </div>
          </div>
          <div class="row col-12 justify-content-start">
            <div>
              <mat-label class="mr-3"><b>Do you have existing loans or debts (excluding mortgages)?</b></mat-label>
              <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row col-12 justify-content-start">
            <div>
              <mat-label class="mr-3"><b>How much do you owe on your mortgage?</b></mat-label>
              <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4 justify-content-center">
        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <p class="card-text">Side Content....</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn btn-group">
      <button mat-button (click)="goToPreviousPage()" class="btn btn-primary mr-2">Back</button>

      <button mat-button (click)="goToNextPage()" class="btn btn-primary">Next</button>
    </div>
  </div>
  <div class="card-footer text-muted">
    © Physicians Mutual®, 2002-2020. All Rights Reserved. Physicians Mutual Insurance Company • Physicians Life Insurance Company
    2600 Dodge Street, Omaha, Nebraska 68131 </div>


</div>

